<% if signed_in? %>
  <div class="row">
    
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>What Key Am I In?</h1>

    <h2>
      This is the home page for the future
      <a href="http://www.whatkeyamiin.com/">What Key Am I In?</a>
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 