<li class="note" id="NoteID<%= note.id %>" >
  <span class="content"><%= note.name %> (<%= note.description %>)</span>
  <span class="content">
  	<%= link_to "Remove", note_path(:id => note.id), :method => :delete %>
  </span>
</li>