<% provide(:title, 'All chords') %>
<h1>All chords</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @chords %>
</ul>
</br>
<%= link_to "New Chord", new_chord_path, 
                                class: "btn btn-large" %>
<%= will_paginate %>